h1, h2, p {
  font-family: 'Cinzel Decorative', cursive;
  color: white;
  text-align: center;
}

h1 {
  border: solid rgb(81, 190, 232);
}

h2 {
  border-bottom: solid rgb(81, 190, 232);
  width: 75%;
  margin: 0 10% 0 12%;
}

body {
  background: linear-gradient(black, white);
}

#container {
  background-color: linear-gradient(black, white);
  width: 60%;
  border-radius: 10px;
  padding: 100px;
  margin: 15% auto;
  text-align: center;
}

canvas{
  padding: 0;
    margin: auto;
    display: block;
    width: 400px;
}

#letters a {
  color: rgb(55, 125, 158);
  cursor: pointer;
  font-size: 15px;
  border-radius: 4px;
  border: 2px solid gray;
  background-color: rgb(102, 232, 180);
  font-weight: bold;
}

#letters a:hover {
  background-color: #4CAF50; /* green */
  color: white;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#letters a .d {
  color: yellow;
  text-decoration: underline;
}

footer {
  text-align: center;
  color: rgb(55, 125, 158);
}
